@page "/desktophome"

<PageTitle>Home</PageTitle>

<div class="navbar">
    <div>
        <img src="#" alt="Alternate Text" />
    </div>
    <div>
        <h3>Home</h3>
        <form class="cust-form" role="search" id="form">
            <input class="cust-input" type="search" id="query" name="q" placeholder="Search..">
        </form>
    </div>
    <div>
        <img src="#" alt="Alternate Text" />
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card-messages">
            <center><img src="#" class="thumbnail"></center>
            <h3>Messages</h3>
        </div>
    </div>
    <div class="column">
        <div class="card-reports">
            <center><img src="#" class="thumbnail"></center>
            <h3>Reports</h3>
        </div>
    </div>
    <div class="column">
        <div class="card-volunteers">
            <center><img src="#" class="thumbnail"></center>
            <h3>Volunteers</h3>
        </div>
    </div>
    <div class="column">
        <div class="card-inventory">
            <center><img src="#" class="thumbnail"></center>
            <h3>Inventory</h3>
        </div>
    </div>
    <div class="column">
        <div class="card-events">
            <center><img src="#" class="thumbnail"></center>
            <h3>Events</h3>
        </div>
    </div>
</div> 

@code {

}
