@page "/desktophome"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="desktop-container">
    <img src="./css/SPCALOGO.jpg" alt="Left Image" class="home-image">
    <div>
        <center><h3>Home</h3></center>
        
        <input type="text" placeholder="Search..." class="desktop-search-bar">
    </div>
    <img src="./css/SPCALOGO.jpg" alt="Right Image" class="home-image">
</div>

<div style="padding-left: 16px"></div>

<div class="desktop-btns">
    <button class="card-messages">
        <center><img src="#" class="thumbnail"></center>
        <h3>Messages</h3>
    </button>
    <button class="card-reports" @onclick=NavigateToReport>
        <center><img src="#" class="thumbnail"></center>
        <h3>Reports</h3>
    </button>
    <dibuttonv class="card-volunteers">
        <center><img src="#" class="thumbnail"></center>
        <h3>Volunteers</h3>
    </dibuttonv>
    <button class="card-inventory">
        <center><img src="#" class="thumbnail"></center>
        <h3>Inventory</h3>
    </button>
    <button class="card-events">
        <center><img src="#" class="thumbnail"></center>
        <h3>Events</h3>
    </button>
</div>

@code {
    private void NavigateToReport()
    {
        Navigation.NavigateTo("/Report");
    }
}
