@page "/desktophome"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="desktop-container">
    <img src="./css/SPCALOGO.jpg" alt="Left Image" class="home-image">
    <div>
        <center><h3>Home</h3></center>
        
        <input type="text" placeholder="Search..." class="desktop-search-bar">
    </div>
    <img src="./css/SPCALOGO.jpg" alt="Right Image" class="home-image">
</div>

<div style="padding-left: 16px"></div>

<div class="desktop-btns">
    <button class="card-messages" @onclick=NavigateToMessages>
        <center><img src="#" class="thumbnail"></center>
        <h3>Messages</h3>
    </button>
    <button class="card-reports" @onclick=NavigateToReport>
        <center><img src="#" class="thumbnail"></center>
        <h3>Reports</h3>
    </button>
    <button class="card-volunteers" @onclick=NavigateToVolunteers>
        <center><img src="#" class="thumbnail"></center>
        <h3>Volunteers</h3>
    </button>
    <button class="card-inventory" @onclick=NavigateToInventory>
        <center><img src="#" class="thumbnail"></center>
        <h3>Inventory</h3>
    </button>
    <button class="card-events" @onclick=NavigateToEvents>
        <center><img src="#" class="thumbnail"></center>
        <h3>Events</h3>
    </button>
</div>

@code {
    private void NavigateToReport()
    {
        Navigation.NavigateTo("/AdminReport");
    }
    private void NavigateToEvents()
    {
        Navigation.NavigateTo("/AdminEvents");
    }
    private void NavigateToInventory()
    {
        Navigation.NavigateTo("/AdminInventory");
    }
    private void NavigateToVolunteers()
    {
        Navigation.NavigateTo("/AdminVolunteers");
    }
    private void NavigateToMessages()
    {
        Navigation.NavigateTo("/AdminMessages");
    }
}
