@page "/desktophome"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="desktop-container">
    <img src="./css/SPCALOGO.jpg" alt="Left Image" class="home-image">
    <h3 class="heading centered-text">Home</h3>
    <img src="./css/SPCALOGO.jpg" alt="Right Image" class="home-image">
</div>

<div style="padding-left: 16px"></div>

<div class="desktop-btns">
    <button class="desktop-cards" @onclick=NavigateToMessages>
        <center><img src="/css/Message circle.png" class="thumbnail"></center>
        <h3>Messages</h3>
    </button>
    <button class="desktop-cards" @onclick=NavigateToBoardings>
        <center><img src="/css/boarding.jpg" class="thumbnail"></center>
        <h3>Boardings</h3>
    </button>
    <button class="desktop-cards" @onclick=NavigateToVolunteers>
        <center><img src="/css/volunteer-icon.png" class="thumbnail"></center>
        <h3>Volunteers</h3>
    </button>
    <button class="desktop-cards" @onclick=NavigateToInventory>
        <center><img src="/css/Inventory-Icon.png" class="thumbnail"></center>
        <h3>Inventory</h3>
    </button>
    <button class="desktop-cards" @onclick=NavigateToEvents>
        <center><img src="/css/events-icon.png" class="thumbnail"></center>
        <h3>Events</h3>
    </button>
    
</div>

@code {
    private void NavigateToBoardings()
    {
        Navigation.NavigateTo("/AdminBoardings");
    }
    private void NavigateToEvents()
    {
        Navigation.NavigateTo("/AdminEvents");
    }
    private void NavigateToInventory()
    {
        Navigation.NavigateTo("/AdminInventory");
    }
    private void NavigateToVolunteers()
    {
        Navigation.NavigateTo("/AdminVolunteers");
    }
    private void NavigateToMessages()
    {
        Navigation.NavigateTo("/AdminMessages");
    }
}