@page "/desktophome"

<PageTitle>Home</PageTitle>

<div class="desktop-container">
    <img src="./css/SPCALOGO.jpg" alt="Left Image" class="home-image">
    <div>
        <center><h3>Home</h3></center>
        
        <input type="text" placeholder="Search..." class="desktop-search-bar">
    </div>
    <img src="./css/SPCALOGO.jpg" alt="Right Image" class="home-image">
</div>

<div style="padding-left: 16px"></div>

<div class="desktop-btns">
    <div class="card-messages">
        <center><img src="#" class="thumbnail"></center>
        <h3>Messages</h3>
    </div>
    <div class="card-reports">
        <center><img src="#" class="thumbnail"></center>
        <h3>Reports</h3>
    </div>
    <div class="card-volunteers">
        <center><img src="#" class="thumbnail"></center>
        <h3>Volunteers</h3>
    </div>
    <div class="card-inventory">
        <center><img src="#" class="thumbnail"></center>
        <h3>Inventory</h3>
    </div>
    <div class="card-events">
        <center><img src="#" class="thumbnail"></center>
        <h3>Events</h3>
    </div>
</div>

@code {

}
