@page "/welcome"

<div class="welcome-container">
    <div class="text-box">
        <h3 class="centered-text">Welcome</h3>
        <p class="message-text">Catch a glimpse of our adorable pets as they introduce themselves in this charming video.</p>
    </div>

    <div class="image-gallery">
        <a href="/adopt" class="adopt-link">
            <img src="css/adpot.jpg" alt="Adopt a Pet" class="adopt-image" />
        </a>
        <a href="/adopt" class="adopt-link">
            <img src="css/cruelty.webp" alt="Awareness" class="adopt-image" />
        </a>
        <a href="/adopt" class="adopt-link">
            <img src="css/donations.jpg" alt="Donations and sponsors" class="adopt-image" />
        </a>
        <a href="/adopt" class="adopt-link">
            <img src="css/volunteer.jpg" alt="Volunteer" class="adopt-image" />
        </a>
        <a href="/adopt" class="adopt-link">
            <img src="css/gallery.webp" alt="Gallery" class="adopt-image" />
        </a>
        <a href="/adopt" class="adopt-link">
            <img src="css/animalboarding.jpg" alt="Animal Boarding" class="adopt-image" />
        </a>
        <a href="/adopt" class="adopt-link">
            <img src="css/events.jpg" alt="Events" class="adopt-image" />
        </a>
        <!-- Add more images here as needed -->
    </div>
</div>

<div class="bottom-navbar">
    <a href="/" class="nav-item">
        <img src="css/home.jpg" alt="Home" class="nav-icon" />
    </a>
    <a href="/search" class="nav-item">
        <img src="css/search.jpg" alt="Search" class="nav-icon" />
    </a>
    <a href="/chat" class="nav-item">
        <img src="css/chat.jpg" alt="Chat" class="nav-icon" />
    </a>
</div>
